@import './../variables';
.searchContainer{
  display: flex;
  border:1px solid $main-color;
  @include box-shadow;
  border-radius: 5px;
  padding: $padding-default*2;
  max-width: $max-width;

  form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-content: center;
    // &.ng-untouched{
    //   .error{
    //     display: none;
    //   }
    // }
    input.username{
      color: darken($button-color,90);
      padding: $padding-default;
      border: 2px solid lighten($color: $main-color, $amount: 30);
      border-radius: 2px;
      font-size: 3rem;
      &.ng-invalid.ng-touched{
        border: 2px solid darken($color: $error-color, $amount: 10);
      }
    }
    button.button{
      color: $button-text-color;
      background: $button-color;
      border: darken($color: $button-color, $amount: 50);
      border-radius: 0.3rem;
      font-size: 1.2rem;
      padding: $padding-default;
      margin: $margin-default 0rem;
      display: flex;
      justify-content: center;
      align-content: center;
    }
    div.error{
      color:$error-color;
      margin: $margin-default 0rem;
      padding: $padding-default;
      background: lighten($color: $error-color, $amount: 50);
      border: 1px solid darken($color: $error-color, $amount: 10);
      border-radius: 0.3rem;
      box-shadow: 0px 0px 10px $main-color;
    }
  }
}
